.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
.yarn/**
.vscode-test/**
*.vsix
*.code-workspace
node_modules/**
tsconfig.json
.eslintrc.json
esbuild.webview.mjs
**/*.map
**/*.ts
!out/**
AssetExample/**
*.md
!README.md
.claude/**
.github/**
