name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run vscode:prepublish
      - run: npx vsce package -o asset-catalog-viewer.vsix
      - run: npx vsce publish -p ${{ secrets.VSCE_PAT }}
      - run: npx ovsx publish asset-catalog-viewer.vsix -p ${{ secrets.OVSX_PAT }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: asset-catalog-viewer.vsix
          generate_release_notes: true
